noderedflow.txt
[{"id":"3e67e76a.7325d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d967fa48.2afdc8","type":"debug","z":"3e67e76a.7325d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":200,"wires":[]},{"id":"2b2b6f7c.2cfe4","type":"ibmiot in","z":"3e67e76a.7325d8","authentication":"apiKey","apiKey":"e39b1a8f.3bdc48","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"233078","applicationId":"","deviceType":"samsung","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":320,"wires":[["d967fa48.2afdc8","fb68c1cc.fdf2a","549eba01.9e3224"]]},{"id":"fb68c1cc.fdf2a","type":"function","z":"3e67e76a.7325d8","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["d967fa48.2afdc8","50e26b35.e4f034"]]},{"id":"549eba01.9e3224","type":"function","z":"3e67e76a.7325d8","name":"Pulse","func":"global.set('Pulse',msg.payload.Pulse)\nmsg.payload=msg.payload.Pulse\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":440,"wires":[["4383ddfa.0bf5e4","d967fa48.2afdc8"]]},{"id":"50e26b35.e4f034","type":"ui_gauge","z":"3e67e76a.7325d8","name":"","group":"48efc90c.fb6c28","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":320,"wires":[]},{"id":"4383ddfa.0bf5e4","type":"ui_gauge","z":"3e67e76a.7325d8","name":"","group":"48efc90c.fb6c28","order":2,"width":0,"height":0,"gtype":"gage","title":"Pulse","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":440,"wires":[]},{"id":"76b1e205.73b63c","type":"ibmiot out","z":"3e67e76a.7325d8","authentication":"apiKey","apiKey":"e39b1a8f.3bdc48","outputType":"cmd","deviceId":"233078","deviceType":"samsung","eventCommandType":"home","format":"json","data":"data","qos":"","name":"IBM IoT","service":"registered","x":360,"y":620,"wires":[]},{"id":"7cd22686.d15788","type":"http in","z":"3e67e76a.7325d8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":500,"wires":[["4427ef98.111e3"]]},{"id":"92f5a050.0abe9","type":"http response","z":"3e67e76a.7325d8","name":"","statusCode":"","headers":{},"x":430,"y":500,"wires":[]},{"id":"4427ef98.111e3","type":"function","z":"3e67e76a.7325d8","name":"data","func":"msg.payload={'temperature':global.get(\"temperature\"),'Pulse':global.get(\"Pulse\")}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["92f5a050.0abe9"]]},{"id":"f9c25c93.27825","type":"http in","z":"3e67e76a.7325d8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":100,"y":540,"wires":[["afe46e90.80a0b"]]},{"id":"fb6c83d.6c6058","type":"http response","z":"3e67e76a.7325d8","name":"","statusCode":"","headers":{},"x":410,"y":580,"wires":[]},{"id":"afe46e90.80a0b","type":"function","z":"3e67e76a.7325d8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":560,"wires":[["fb6c83d.6c6058","ea14fbfa.c9bce8","76b1e205.73b63c"]]},{"id":"ea14fbfa.c9bce8","type":"debug","z":"3e67e76a.7325d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":540,"wires":[]},{"id":"e39b1a8f.3bdc48","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"48efc90c.fb6c28","type":"ui_group","z":"","name":"Default","tab":"6e5508aa.fc4bf8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6e5508aa.fc4bf8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]